In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

In [ ]:
names=pd.read_csv("data.csv")

In [ ]:
names.head()

     Name Gender                         Meaning
0   A'rab    Boy                         Bedoin
1   Aaban    Boy  More clear; 8th Persian month
2  Aabdar    Boy             Bright; Like glass
3  Aabhas    Boy               Feeling; Virtual
4  Aabhat    Boy    Shining; Visible; brilliant

Drop Meaning column from data set

In [ ]:
names=names.drop(["Meaning"],axis=1)

In [ ]:
male=list(names[names.Gender=="Boy"].Name)
len(male)

15801

In [ ]:
female=list(names[names.Gender==("Girl" or "Unisex")].Name)
len(female)

8574

In [ ]:
all_names=([(name,'male')for name in male]+
              [(name,'female')for name in female])
import random
random.shuffle(all_names)

In [ ]:
def gender_features(name):
    features = {}
    features["first_letter"] = name[0].lower()
    features["last_letter"] = name[-1].lower()
    for letter in 'abcdefghijklmnopqrstuvwxyz':
        features["count({})".format(letter)] = name.lower().count(letter)
        features["has({})".format(letter)] = (letter in name.lower())
    return features

In [ ]:
import nltk
featuresets=[(gender_features(n),gender)for (n,gender) in labeled_names]
train_set,test_set=featuresets[6000:],featuresets[:6000]
classifier=nltk.NaiveBayesClassifier.train(train_set)
print(nltk.classify.accuracy(classifier,test_set))

0.8358333333333333

In [ ]:
classifier.classify(gender_features('Lakshmi'))

'female'